html, body {
  height: 100%;
  margin: 0;
}

main {
  min-height: calc(100% - 2em); /* subtract the height of the header and footer */
}

/* Body styles */
body {
 font-family: Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Header styles */
header {
	background-image: url("/img/rees.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-color: #f2f2f2;
	padding: 20px;
	display: flex;
	align-items: center;
}

.logo {
	flex: 1;
	max-width: 400px;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin-right: 20px;
}

nav ul li ul {
	display: none;
	position: absolute;
	background-color: #38d3dd;
	padding: 10px;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	display: block;
	margin: 5px 0;
}

nav a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}

nav a:hover {
	color: #103f42;
}

/* Main styles */
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

p {
	line-height: 1.5;
}

/* Footer styles */
footer {
  	height: 2em; /* set the height of the footer */
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer nav ul li a {
	color: #fff;
}

footer p {
	margin: 0;
	font-size: 14px;
}
