/* Body styles */
body {
 font-family: Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Header styles */
header {
	background-color: #f2f2f2;
	padding: 20px;
	display: flex;
	align-items: center;
}

.logo {
	flex: 1;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin-right: 20px;
}

nav ul li ul {
	display: none;
	position: absolute;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	display: block;
	margin: 5px 0;
}

nav a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 16px;
}

nav a:hover {
	color: #666;
}

/* Main styles */
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

p {
	line-height: 1.5;
}

/* Footer styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer nav ul li a {
	color: #fff;
}

footer p {
	margin: 0;
	font-size: 14px;
}
