* {
 font-family: Verdana, Arial, Times New Roman;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.rees {
  display: block;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

button{
 display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.3em 0.3em 0;
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 background-color:#4eb5f1;
 text-align:center;
 transition: all 0.2s;
}

button:hover{
 background-color:#4095c6;
}
@media all and (max-width:30em){
 button{
  display:block;
  margin:0.2em auto;
 }
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  background-image: url("/reesoutdoorfit.github.io/img/rees.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding:100px 0;
  opacity: 0.8;
  color: white;
  text-transform: uppercase;
}

#content {
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

#footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
}
