* {
 font-family: Verdana, Arial, Times New Roman;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.rees {
  display: block;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: block;
  height: 100px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px
}

.pure-group {
  border-style: none;
  padding: 0px;
}

.button-success {
  color: white;
  border-radius: 4px;
  background: grey
}

.button-xlarge {
  font-size: 125%;
}

button {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 40px
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  background-image: url("/img/rees.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding:100px 0;
  opacity: 0.8;
  color: white;
  text-transform: uppercase;
}

#contact {
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

#footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
}
