* {
 font-family: Verdana, Arial, Times New Roman;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.rees {
  display: block;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.button {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
  }

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  background-image: url("/reesoutdoorfit.github.io/img/rees.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding:100px 0;
  opacity: 0.8;
  color: white;
  text-transform: uppercase;
}

#content {
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

#footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
}
